DB_HOST=localhost
DB_NAME=entomologia
DB_USER=root
DB_PASS=

# Login via SUAP OAuth2 (Authorization Code Grant)
# Cadastre a aplicacao em https://suap.ifgoiano.edu.br/o/applications/
# Redirect URI: <URL do site>/admin/suap_callback.php
SUAP_BASE_URL=https://suap.ifgoiano.edu.br
SUAP_CLIENT_ID=
SUAP_CLIENT_SECRET=
SUAP_REDIRECT_URI=http://localhost:8000/admin/suap_callback.php
